* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	 font-family: sans-serif;
	/* background: url() no-repeat; 
	background-size: cover; */ 
}

html , body {
    height: 100%;
}

body{
    font-weight: 400;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button{
    display: flex;
    flex-direction: row;
}

.btn{
    text-decoration: none;
    padding: 20px 80px;
    font-size: 1.40rem;
    position: relative;
    margin: 32px;
}

.btn-1{
    background: #000;
    color: #fff;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.btn-1::after, .btn-1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: rgb(48, 45, 45);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-1 :hover{
    transform: translate(-12px ,-12px);
}

.btn-1:hover:after{
transform: translate(12px, 12px);
}